body {
	margin: 0;
	padding: 0;
	background-color: #90a7b2;
}

.app {
	min-height: 100vh;
	margin: 4vh 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.nav {
	width: 40vw;
	margin: 0 auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
}

button {
	background-color: green;
	color: #fff;
	padding: 1vh 1vw;
	font-size: 3vh;
	cursor: pointer;
	-webkit-transition: 0.3s all;
	-o-transition: 0.3s all;
	transition: 0.3s all;
	border: none;
	border-radius: 2vh;
}

button:hover {
	opacity: 0.4;
}

.container {
	min-height: 15vh;
	width: 30vw;
	margin: 6vh auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	background-color: #55486b;
	border-radius: 2vh;
}

.stopwatch {
	font-size: 8vh;
	color: #fff;
	letter-spacing: 1vw;
}

.results {
	margin: 0;
	padding: 0;
}

li {
	margin: 2vh 0;
	color: #fff;
	font-size: 4vh;
	text-align: center;
	list-style-type: none;
}
